# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

In [1]:
nr1 = 5
nr2 = 10

In [2]:
print(nr1+nr2)
print(nr1*nr2)

15
50

# Lists

### Extract the first and last element in the list.

In [3]:
l = [1, 2, 3, 10, 15, 100]

In [4]:
print(l[5])

100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [5]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [9]:
def func(list):
    if list[0]==list[-1]:
        x = True
    else:
        x=False
        
    return x
    
print(func(list_1))
print(func(list_2))

True
False

### Replace the number 4567 in the list with the number 22.

In [10]:
replace_4567 = [100, 2, 4567, 5, 7]

In [12]:
replace_4567[2] = 22
print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [16]:
replace_two_numbers = [1, 2, 3, 4, 5]

In [17]:
replace_two_numbers[2:4]=30,40
print(replace_two_numbers)

[1, 2, 30, 40, 5]

### Print out the list below but in reverse order.

In [29]:
my_list = [1, 2, 3, 10, 15, 100]

In [30]:
print(my_list[::-1])

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [25]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [31]:
print(list_containing_a_list[2][3])
print(list_containing_a_list[2])
print(list_containing_a_list[2][1:4])
print(list_containing_a_list[-3])
print(list_containing_a_list[0:3])

5
[10, 12, 13, 5, 100]
[12, 13, 5]
8888
[1, 2, [10, 12, 13, 5, 100]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [35]:
empty_list_1 = []

In [36]:
empty_list_1.append(10)
empty_list_1.append("hello")
print(empty_list_1)

[10, 'hello']

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [41]:
empty_list_2 = []

In [42]:
empty_list_2.extend([10,"hello"])
empty_list_2

[10, 'hello']

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [43]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
new_list = [x*10 for x in list_example if 4 <= x <=8]

In [47]:
print(new_list)

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [152]:
list1 = "M", "na", "i", "Anto"
list2 = ("y", "me", "s", "nio")

In [153]:
concate = tuple(zip(list1, list2))
print(concate)
print(type(list1))
print(list1)
temp = []
for list1,list2 in tuple(zip(list1,list2)):
    print(list1,list2)
    temp2 = list1+list2
    temp.append(temp2)
print(temp)

(('M', 'y'), ('na', 'me'), ('i', 's'), ('Anto', 'nio'))
<class 'tuple'>
('M', 'na', 'i', 'Anto')
M y
na me
i s
Anto nio
['My', 'name', 'is', 'Antonio']

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [346]:
my_tuple = (10, 20, 30, 40)

In [354]:
x1,x2,x3,x4 = my_tuple
print(x1,x2,x3,x4)

10 20 30 40

### Explain with your own words what the code below containing two scenarios does.

In [163]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()
#varje variable får sitt tal i 2ans exponent
# Scenario 2.
x = f(3)
print(x)
print(type(x))
# x blir en tuple som innehåller 3ans exponent

2
4
8
16

(3, 9, 27, 81)
<class 'tuple'>

### Count the number of times 24 occurs in the tupple.

In [160]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [161]:
tuple_22.count(24)

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [171]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [172]:
print("t1=",t1)
print("t2=",t2)
temp = t1
t1 = t2
t2 = temp
print("t1=",t1)
print("t2=",t2)

t1= ('Python', 'MATLAB')
t2= ('R', 'Julia')
t1= ('R', 'Julia')
t2= ('Python', 'MATLAB')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [196]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [207]:
temp = dict(zip(l1,l2))
print(temp)
print(temp[2])
#obs def inte en variable som dic,list,tuple,int osv

{1: 'Python', 2: 'C++', 3: 'Java'}
C++

### Print out the value corresponding to the key "1".

In [208]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [209]:
dictionary[1]

'as'

### Explain with your own words what the code does.

In [212]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [214]:
y(2)['y1']
#retunerar en dict där "2" där y0,y1,y1 är index och var index ökar med 2 exponenten

4

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [215]:
my_set = {"python","R","MATLAB","Julia","SAS","C"}

### Find all elements that are in atleast one of the sets.

In [216]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

In [222]:
print(set_a)

{1, 2, 99}

### Find all the items that are in *both* lists and return those values in a list.

In [232]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [234]:
l1 = set(l1)
l2 = set(l2)
unionset = l1.intersection(l2)
unionset

{'Julia', 'Python'}

### Find all the unique elements of the list.

In [236]:
l = [1, 1, 2, 2, 3, 1, 2]

In [237]:
l = set(l)
l

{1, 2, 3}

### Find all the elements that are in set_1 but not in set_2.

In [238]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

In [239]:
set_1.difference(set_2)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [244]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [252]:
for i in looping_list:
    print(i)
print("test spacing")
print(len(looping_list))
for i in range(len(looping_list)):
    print(looping_list[i])

0
a
b
[1, 2, 3]
('Python', 'R')
55
test spacing
6
0
a
b
[1, 2, 3]
('Python', 'R')
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [253]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [256]:
for j,i in enumerate(looping_list):
    print(j,i)

0 0
1 a
2 b
3 [1, 2, 3]
4 ('Python', 'R')
5 55

### Write a for loop to print out each letter in the string.

In [257]:
for_string = 'Python!'

In [260]:
for i in range(len(for_string)):
    print(for_string[i])

P
y
t
h
o
n
!

### Write a while loop to print out each letter in the string.

In [269]:
while_string = 'Is Awesome!'

In [271]:
i = 0
while i < len(while_string):
    print(while_string[i])
    i += 1

I
s

A
w
e
s
o
m
e
!

### Print the numbers 1, 2, ..., 10 with a while loop.

In [273]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [274]:
numbers = [10, 20, 34, 46, 55]

In [281]:
for i in numbers:
    if i%5 == 0:
        print(i)
    else:
        print("not divisible by 5")

10
20
not divisible by 5
not divisible by 5
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [282]:
for i in range(0, 21, 5):
    print(i)

0
5
10
15
20

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [289]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [290]:
new_list= []
for i in range(3,8):
    new_list.append(list_example[i])
print(new_list)

[4, 5, 6, 7, 8]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [300]:
Str = "hej"
def uppercase_converter(text):
    return text.upper()
uppercase_converter(Str)

'HEJ'

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [301]:
nr1=5
nr2=3

def sum_and_sub(x,y):
    summ = x+y
    sub = x-y
    return summ,sub
sum_and_sub(nr1,nr2)

(8, 2)

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

In [383]:
def f(*args):
    temp = 0
    for i in args:
        temp += i
    return temp
def duo(*args,**kwargs):
    temp = 0
    for i in args:
        temp += i
    return temp
def k(**kwargs):
    result = ""
    for arg in kwargs:
        result += arg
    return result

print(f(1,2))
print(k(x=4,y=2))
print(duo(1,y=2))

3
xy
1

### Assign a different name to the function and call it through the new name.

In [311]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

3

In [316]:
new_name = my_sum_function 
print(my_sum_function(1,2))
new_name(2,2)

3

4

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [336]:
def sum_or_prod (x,y,type):
    if type == "add":
        return x+y
    elif type == "multiply":
        return x*y
    else:
        return print("Choose either \"add\" or \"multiply\"")
print(sum_or_prod(2,5,"add"))
print(sum_or_prod(2,5,"multiply"))
sum_or_prod(2,5,"test")

7
10
Choose either "add" or "multiply"

### Run the program below and explain what it does.

In [325]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

What is your name dear stranger?temp
Mom, I met a person whos name is: temp

In [ ]:
#provides an input that ask you to define the varible "name"

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [327]:
string_1 = 'anna'
string_2 = 'john'

In [344]:

def palindrome(x):
    reverse = x[::-1]
    if x == reverse:
        return print("is a palindrome")
    else:
        return print("is not a palindrome")
palindrome(string_1)
palindrome(string_2)

is a palindrome
is not a palindrome

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [345]:
number = 8

In [ ]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

In [ ]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

In [ ]:
#data process besparning, första cellen kollar alla if statementsen vilket kräver kraft,
#cell nr2 kollar första if statement sen går till elif och om vid något till fälle ett if eller elif stämmer
#så slutar koden köras när målet är uppfyllt